---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/Bento.astro';
import Prefooter from '../components/Prefooter.astro';
import Footer from '../components/Footer.astro';

---

<Layout
	title="Premios ESLAND 2024 - Celebrando lo mejor de Streming y los creadores de contenido"
	description="Descrubre los mejores creadores de contenido de España, Latinoamerica y Andorra, acompañanos a premiarlos y reconocer su gran trabajo">
	<Video />

	<main>
		<Intro />
		<Bento />
		<Prefooter />
	</main>

	<Footer/>
</Layout>

<style>
</style>
